<h2>Edit Tasks</h2>

<%= form_for(@tasks) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :details %>
  <%= f.text_field :details %>

  <%= f.label :completed %>
   <%= f.check_box :completed %>

<!--   <input type="checkbox" name= "@completed" value="completed" >
 This task is not completed  <br> -->

  <%= f.submit %>

<% end %>


